
/*************************************/
/*              Styles               */
/*************************************/

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    user-select: none;
}

.contentArea {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
}

.horzScrollbar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.vertScrollbar {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
